language: cpp
compiler: gcc
os:
    - linux

branches:
    only:
        - master

before_script:
    - mkdir build
    - cd build
    - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:`pwd`/install/lib
script:
    - cmake -DCOVERAGE=ON -DTESTS=ON ../
    - make install
    - cd ../

before_deploy:
    - echo "Creating tar release."
    - mkdir release
    - tar czf release/${TAVIS_TAG}
    - echo "Done creating tar"
deploy:
  provider: releases
  api_key:
    secure: uqN2dBf4OshozVRaiPzZT99JYV+4qbgcxhUZsqoiQycXufF1E0V45j0u+aTnBYvG8LriKwjBlgFCD/+Np6oVlthWPphy81FVaCv76I062dqv5liU7cTJeTV4tCdP6jHFoHhYAYvb00Rpl1WQ9eNyeRKssjw9ygCZ5leN8CyVcLcyms6OJpcwGcFXvoYjZOkKFRpM6ZoDCz7gY0feK1cuOdMSjtEhyArseMen9Gp5weengtCTcvb7pf1gt6Tpc2L8QuHKGcItRbl254woYjG+vVXBypHU92oJf1jvfz6oBXleITmPqfWeTgK41wA8UlpN1zf6c6YYPD++imgPFrEv9dXH+SfVTeuiQxEUjQiHiTtFptRS2nYXdCmSd5QOCbOKuzJ9ws+Zzu5Uvowv2EWBF4FI2cUeihmjoVrpS7vX09WMFu9IBOiVaaGmTJYMWLIqyCPLVqSE4+JtAUz1PJWJUKa8bPNTk3MBHTaWhYy9/0KSQ6yUl4V4AUEyv9wCHhypO2oKfzyAsZW7DQJQlCH9UJmXamwPcLadOodOk2a+pl6fcdpzgStD9kiWp5bC4XBFgQEZG9shovzcXBVjbl9mdT0ePdBHEw2279F5zT3M4hLh9qh45a4zTsGurQ8ViAk+pSqfhUAQP8FIq66VWpXSfR1FmJy+MkMwNmWOkM1XK+Q=
  file: 'release/*'
  on:
      all_branches: true
      tags: true
